.features {
	padding: 100px 0;
	.f-content-wrapper{
        h4{
            font-size: 20px;
            line-height: 1.3;
        }
        p{
            font-size: 16px;
            line-height: 1.3;
        }
        li{
            margin-bottom:32px;
        }        
        
    }
}